.bgEffectLight{
    background-image: url(../../assets/landingBgLight.jpg);
    background-position: center;
    background-size: 100%;
}

.bgEffect{
    background-image: url(../../assets/landingBg.jpg);
    background-position: center;
    background-size: 100%;
}